<ion-view title='{{game.date | amDateFormat: "ddd MMM D - h:mm A"}}' hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon" ng-click="goBack()">
            <i class="icon ion-arrow-left-c"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="card">
            <div class="item padding">
                <div class="row">
                    <div class="col col-75">
                        <h2>{{ game.awayName }}</h2>
                    </div>
                    <div class="col" ng-show="showGameOverUnder(game)">
                        <h2 style="float: right;">{{ getGameOverUnder(game) }}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-75">
                        <h2>{{ game.homeName }}</h2>
                    </div>
                    <div class="col" ng-show="showGameLine(game)">
                        <h2 style="float: right;">{{ getGameLine(game) }}</h2>
                    </div>
                </div>
                <div class="row" ng-show="user.pushNotificationsAllowed">
                    <div class="col col-center">
                        <h2>Follow</h2>
                    </div>
                    <div class="col">
                        <label class="toggle toggle-balanced" style="float: right;">
                            <input type="checkbox" ng-model="game.follow">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </div>
                </div>
                <!--<div class="row">
                    <div class="col">
                        <button class="button button-balanced" ng-click="fireEvent()">
                            event
                        </button>
                    </div>
                </div>-->
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                <div class="row">
                    <div class="col col-50">
                        Book
                    </div>
                    <div class="col col-25">
                        Line
                    </div>
                    <div class="col col-25">
                        O/U
                    </div>
                </div>
            </div>
            <div class="item padding">
                <div class="row">
                    <div class="col col-50">
                        5Dimes
                    </div>
                    <div class="col col-25" ng-hide="game.fiveDimesEuLine == -1000">
                        {{ game.fiveDimesEuLine | line }}
                    </div>
                    <div class="col col-25" ng-hide="game.fiveDimesEuOverUnder == -1000">
                        {{ game.fiveDimesEuOverUnder }}
                    </div>
                </div>
                <div class="row">
                    <div class="col col-50">
                        BetOnline
                    </div>
                    <div class="col col-25" ng-hide="game.betOnlineAgLine == -1000">
                        {{ game.betOnlineAgLine | line }}
                    </div>
                    <div class="col col-25" ng-hide="game.betOnlineAgOverUnder == -1000">
                        {{ game.betOnlineAgOverUnder }}
                    </div>
                </div>
                <div class="row">
                    <div class="col col-50">
                        Bovada
                    </div>
                    <div class="col col-25" ng-hide="game.bovadaLvLine == -1000">
                        {{ game.bovadaLvLine | line }}
                    </div>
                    <div class="col col-25" ng-hide="game.bovadaLvOverUnder == -1000">
                        {{ game.bovadaLvOverUnder }}
                    </div>
                </div>
                <div class="row">
                    <div class="col col-50">
                        SportsBetting
                    </div>
                    <div class="col col-25" ng-hide="game.sportsBettingAgLine == -1000">
                        {{ game.sportsBettingAgLine | line }}
                    </div>
                    <div class="col col-25" ng-hide="game.sportsBettingAgOverUnder == -1000">
                        {{ game.sportsBettingAgOverUnder }}
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>