<ion-view title='Preferences' hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon" ng-click="goBack()">
            <i class="icon ion-arrow-left-c"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    Favorite Sportsbook
                </div>
                <select ng-model="user.favoriteSportsBook" ng-change="change()">
                    <option value="3">5Dimes</option>
                    <option value="4">BetOnline</option>
                    <option value="1">Bovada</option>
                    <option value="2">SportsBetting</option>
                </select>
            </label>
            <ion-toggle ng-model="user.pushNotificationsAllowed" toggle-class="toggle-balanced" ng-change="pushNotificationsAllowedChange()">Notifications Enabled</ion-toggle>
            <ion-toggle ng-model="user.fiveDimesEuPushNotificationsEnabled" toggle-class="toggle-balanced" ng-show="user.pushNotificationsAllowed">5Dimes Notifications</ion-toggle>
            <ion-toggle ng-model="user.betOnlineAgPushNotificationsEnabled" toggle-class="toggle-balanced" ng-show="user.pushNotificationsAllowed">BetOnline Notifications</ion-toggle>
            <ion-toggle ng-model="user.bovadaLvPushNotificationsEnabled" toggle-class="toggle-balanced" ng-show="user.pushNotificationsAllowed">Bovada Notifications</ion-toggle>
            <ion-toggle ng-model="user.sportsBettingAgPushNotificationsEnabled" toggle-class="toggle-balanced" ng-show="user.pushNotificationsAllowed">SportsBetting Notifications</ion-toggle>
        </div>
    </ion-content>
</ion-view>