<ion-view title='How To' hide-back-button="true">
    <ion-nav-buttons side="left">

    </ion-nav-buttons>
    <ion-content>
        <div class="card">
          <div class="item item-divider">
            Sport Selection
          </div>
          <div class="item item-text-wrap">
            Access the sports selection menu by touching the <i class="icon ion-navicon" style="padding-right: 3px; padding-left: 3px;"></i>
              icon in the nav bar or swiping right on the screen.
          </div>
        </div>
        <div class="card">
          <div class="item item-divider">
            View Game Details
          </div>
          <div class="item item-text-wrap">
            View the details for a game by touching the desired game in the list.
          </div>
        </div>
        <div class="card">
          <div class="item item-divider">
            Follow a Game
          </div>
          <div class="item item-text-wrap">
            When viewing the details of a game, toggle the follow button to receive notifications when the line changes.
          </div>
        </div>
        <div class="padding">
            <button class="button button-block button-balanced" ui-sref="app.nba.games">
              Get Started
            </button>
        </div>
        
    </ion-content>
</ion-view>